
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("FileTest","AR",new { dl=1})" onclick = "return confirm('Are you want to doload?');">
    <img src="/AR/FileTest" width="500" />
</a>