@{
    var items = new int[] { 1, 2, 3, 4, 5 };
    var tmp = " ";
}

@foreach (var item in items)
{
    @item
}


@foreach (var item in items)
{

    @item@tmp

}


<ul>
    @foreach (var item in items)
    {
        <li>@item</li>;
    }
</ul>